.App {

  text-align: center;
  height: 100%;
  background-color: #6e4186;
  border: 3px solid black;
}

.delete-button {
  margin: 10px;
  align-self: flex-end;
  padding: 5px 10px;
  background-color: #87714d;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #706451;
  color: #510c76;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

