/* Header */
  .header {
    text-align: center;
    background-color: #510c76;
    border-bottom: 3px solid black;
  }
  
  .title-container {
    background-image: radial-gradient(circle at 50% 50%, #87714d 0%, #87714d 100%);
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid black;
  }
  
  .title {
    color: rgb(81, 12, 118);
  }
  
  /* MessageList */
  .message-list {
    width: 70%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 10px;
    overflow-y: scroll;
    border: 1px solid #000000;
    border-radius: 4px;
    resize: none;
  }
  
  
  .message {
    padding: 10px 0;
  }
  
  .message-header {
    font-weight: bold;
  }
  
  .message-content {
    width: 80%;
    height: 10%;
  }
  
  /* MessageForm */
  .message-form {
    float: right;
    /*display: flex;*/
    flex-direction: column;
    margin-top: 20px;
  }
  
  .message-input {
    margin-bottom: 10px;
  }
  
  .message-button {
    align-self: flex-end;
    padding: 5px 10px;
    background-color: #87714d;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .message-button:hover {
    background-color: #706451;
    color: #510c76;
  }
  